# Pandas Assingment-3

(Based on IPL matches and deliveries dataset)


<a>https://www.kaggle.com/nowke9/ipldata#matches.csv</a>


<a>https://www.kaggle.com/nowke9/ipldata#deliveries.csv<a>

In [12]:
import pandas as pd
import numpy as np

In [13]:
match= pd.read_csv('matches.csv')
delivery=pd.read_csv('deliveries.csv')

In [50]:
match.head(2)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN

In [12]:
delivery.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

## Q1. Find out a City which has hosted most no. of IPL openers i.e first match of a season.

In [16]:
match.drop_duplicates('season',keep='first')['city'].value_counts().sort_values(ascending=False).head(1)

Chennai    2
Name: city, dtype: int64

## Q2. Find out top-3 batsman who has scored most runs against Malinga.

In [106]:
deliv=delivery[delivery['bowler']=='SL Malinga']
deliv.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).index[0:3]

Index(['JH Kallis', 'BB McCullum', 'SR Watson'], dtype='object', name='batsman')

## Q3. Make a function to find top bowler(in terms of most wickets) against any team. Take input as team.

In [9]:
def func(team):
    mask1=delivery['dismissal_kind'].isin(['caught', 'bowled','lbw', 'caught and bowled','stumped','hit wicket'])
    mask2=delivery['batting_team']==team
    return delivery[mask1 & mask2].groupby('bowler').size().sort_values(ascending=False).index[0]

In [10]:
func('Kolkata Knight Riders')

'B Kumar'

## Q4. Write a function which will take team name as input and return it's record of no. occurance in finals and no. of times won.  [Difficult]

ex.-- if team is CSK-- 
CSK in finals-

Played- 8
Won- 3

If any team which has not played in finals like Gujrat Lions

Gujrat Lions in finals-

Played-0

In [16]:
def rot(team):
    final=match.drop_duplicates('season',keep='last')
    team1=final['team1']
    played=team1.append(final['team2']).value_counts()
    won=final['winner'].value_counts()
    try:
        print("played-",played[team])
    except:
        print("played-",0)
    try:
        print("won-",won[team])
    except:
        print("won-",0)

In [17]:
rot('Mumbai Indians')

played- 4
won- 3

## Q5. Write a function which will take a input as batsman and in output it gives total runs scored against each team. [Medium]

In [18]:
def func_1(batsman):
    mask=delivery['batsman']==batsman
    deliv=delivery[mask]
    return deliv.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False)

In [19]:
func_1('V Kohli')

bowling_team
Chennai Super Kings        706
Delhi Daredevils           661
Kings XI Punjab            483
Mumbai Indians             447
Sunrisers Hyderabad        439
Kolkata Knight Riders      391
Deccan Chargers            306
Gujarat Lions              283
Rajasthan Royals           258
Rising Pune Supergiants    188
Pune Warriors              128
Rising Pune Supergiant      83
Kochi Tuskers Kerala        50
Name: batsman_runs, dtype: int64